@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --Orange-primary: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-darkblue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --Black-lightbox: hsl(0, 0%, 0%);
}


body{
  height: 100vh;
  font-family: 'Kumbh Sans';
  position: relative;
  background-color: hsl(223, 64%, 98%);
}

.wrapper{
  max-width: 1120px;
  min-height: 100vh;
  padding: 0 5px;
  margin: auto;
}

nav .con_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--Grayish-blue);
  margin-bottom: 85px;
}

.list_con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.list_con ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.nav_items{
  color: var(--Dark-grayish-blue);
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.details_con{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;

}

.profile img{
  width: 45px;
  cursor: pointer;
}
.profile img:hover{
  border:2.5px solid var(--Orange-primary);
  border-radius: 50%;
}

.cart_icon{
  cursor: pointer;
}

.counter_icon_con{
  background-color: var(--Orange-primary);
  width: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius:60%;
  color: white;
  position: relative;
 top: -20px;
 right: 125px;
 transform: translate(50% , 50%);
}

.conatiner{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.product_img_con{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: rem; */
  gap: 2rem;
}


.product_img img{
  width: 420px;
  border-radius: 16px;
}


.proudct_grid_imgs{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.proudct_grid_imgs img{
  width: 100px;
  border-radius: 12px;
  cursor: pointer;
}

.product_details_con{
  /* padding: 1rem 2rem ; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.1;
  margin: 25px 0px 20px 35px;
}

.title{
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
  font-weight: 600;
  letter-spacing: 2px;
}

.product_name{
  font-size: 50px;
  font-weight: bold;
  color: var(--Very-darkblue);
  margin-bottom: 12px;
}

.product_desc{
  color: var(--Dark-grayish-blue);
  line-height: 1.5;
  font-size: 18px;
  margin-top: 12px;
}

.price_con{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.price_con_org{
  font-size: 26px;
  color: var(--Very-darkblue);
  font-weight: bold;
}

.offer{
  justify-self: center;
  align-self: center;
  padding: 6px;
  background-color: black;
  border-radius: 6px;
  color: white;
  font-weight: 700;
}

.orginal_price{
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
  margin-top: 2px;
  font-weight: 500;
}

.btns_con{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 24px;
}

.quantity_con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  background-color: var(--Light-grayish-blue);
  gap: 16px;
  width: 35%;
  padding: 12px;
  border-radius: 12px;
}

.inc_con , .dec_con{
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.inc_con svg , .dec_con svg{
  fill: #FF7E1B;
}

.add_btn{
  background-color: var(--Orange-primary);
  padding: 20px 30px;
  border-radius: 12px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--Very-darkblue);
  cursor: pointer;
  font-weight: bold ;
  transition: background-color 0.3s ease-in-out;
  
}
.add_btn svg{
  fill: var(--Very-darkblue);
}

.add_btn:hover{
  background-color: var(--Pale-orange);
}

.inc_con svg:hover, .dec_con svg:hover{
  fill: #e99454;
}

.cart_con{
  box-shadow: -1px 4px 17px 0px rgba(0,0,0,0.75);
  max-width: 370px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 30px;
  position: absolute;
  top: 85px;
  right: 180px;
  background-color: hsl(223, 64%, 98%);
  display: none;
}
.cart_con.active{
  display: flex;
}

.product_cart_desc{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 20px;
}

.product_desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price_con_cart{
  display: flex;
  gap: 8px;
  font-size: 16px;
}

.total_p{
  color: var(--Very-darkblue);
  font-weight: 700;
}

.remove_con{
  cursor: pointer;
}

.img_con img{
  width: 60px;
}
.name_con p{
  font-size: 16px;
}

.place_order_btn{
  width: 100%;
  align-self: center;
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--Orange-primary);
  color: var(--Very-darkblue);
  font-weight: 700;
  cursor: pointer;
}



@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      background: #333;
      position: absolute;
      width: 100%;
      top: 50px;
      left: 0;
      text-align: center;
  }

  .nav-links.active {
      display: flex;
  }

  .hamburger {
      display: block;
  }

  .container {
      flex-direction: column;
      text-align: center;
  }

  .btns_con {
      width: 100%;
  }

  .product_img img {
      max-width: 300px;
  }
}